body {
	background: white;
	font-family: Century Gothic;
	text-align: center;
}
.menu  {
    overflow: hidden;
	display: grid;
	grid-template-columns: 1fr 2fr;
	border-bottom: .5px #000 solid;
	background:#633C00;
}
.menu a {
    float: left;
    color:#FFF1B5;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
	margin-left: 50px;
	margin-right: 50px;
}
.menu a:hover {
    color: gray;
}

.img{
	background:#633C00;
	color:#FFF1B5;
	font-family:Brush Script MT;
	font-size:40px;
}
.iyo{
	font-family:Brush Script MT;
	font-size:70px;
	background-image:linear-gradient(to right,#BC6504,#F8C740,#BC6504);
	color:#FFF1B5;
}
.iyooo{
	font-size:20px;
	font-family:brush script mt;
	background-image:linear-gradient(to right,#BC6504,#F8C740,#BC6504);
}
.iyoo{
	font-size:30px;
	font-family:brush script mt;
	background-image:linear-gradient(to right,#BC6504,#F8C740,#BC6504);
	color:#FFF1B5;
}
.sf {
	background: url(../images/contact.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
	padding: 250px;
}
button{
	background-image:linear-gradient(to right,#BC6504,#F8C740,#BC6504);
}
.sky {
	background: url("../images/sky.png");
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
	padding: 150px;
}
.paa {
	border-top: .5px #000 solid;
	padding: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa:hover {
    opacity: 1.7;
}
.fa-facebook {
    background: white;
    color: black;
}
.facebook{
	text-decoration:none;
	color:white;
}
.fa-twitter {
    background: white;
    color: black;
}
.fa-youtube {
    background: white;
    color: black;
}
.fa-instagram {
    background: white;
    color: black;
}
.paa2 {
	margin-left: 50px;
	margin-top: 20px;
} 	
.last {
	background:#633C00;
	padding: 5px;
	color:#FFF1B5;
}
.last a{
	color: black;
	text-decoration: none;
}
.last a:hover {
	color: gray;
}
h1{
	font-family:brush script mt;
}